<!doctype html>
<html lang="en">
  <head>
  	<title>Coffee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../static/css/style.css">

    <style>
		.testeo {
      color: rgb(0, 0, 0);
		}
	</style>
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Star Coffee</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-12">
					<div class="wrapper">
						<div class="row justify-content-center">
							<div class="col-lg-8 mb-5">
								<div class="row">
									<div class="col-md-4">
										<div class="dbox w-100 text-center">
					        		<div class="icon d-flex align-items-center justify-content-center">
					        			<span class="fa fa-map-marker"></span>
					        		</div>
					        		<div class="text">
						            <p><span>Dirección:</span> Chillán, Ñuble, Av. Ecuador 1680</p>
						          </div>
					          </div>
									</div>
									<div class="col-md-4">
										<div class="dbox w-100 text-center">
					        		<div class="icon d-flex align-items-center justify-content-center">
					        			<span class="fa fa-phone"></span>
					        		</div>
					        		<div class="text">
						            <p><span>Teléfono:</span> <a>+ 569 876 54 321</a></p>
						          </div>
					          </div>
									</div>
									<div class="col-md-4">
										<div class="dbox w-100 text-center">
					        		<div class="icon d-flex align-items-center justify-content-center">
					        			<span class="fa fa-paper-plane"></span>
					        		</div>
					        		<div class="text">
						            <p><span>Email:</span> <a>info@starcafe.cl</a></p>
						          </div>
					          </div>
									</div>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="contact-wrap">
									<h3 class="mb-4 text-center">Opina sobre nosotros</h3>
									<div id="form-message-warning" class="mb-4 w-100 text-center"></div> 
				      		<div id="form-message-success" class="mb-4 w-100 text-center">
				            Tu mensaje fue enviado, gracias!
				      		</div>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                        {% csrf_token %}
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
                                                    
												</div>
											</div>
											<div class="col-md-12"> 
												<div class="form-group">
													<input type="correo" class="form-control" name="correo" id="correo" placeholder="Email">
                                                    
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
                                                    <select class="form-control" name="tipo_solicitud" id="tipo_solicitud">
                                                        <option value="Reclamo">Reclamo</option>
                                                        <option value="Felicitacion">Felicitacion</option>
                                                    </select>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<textarea name="mensaje" class="form-control" id="mensaje" cols="30" rows="8" placeholder="Mensaje"></textarea>
                                                    
                                                </div>
											</div>
											<div class="col-md-12">
												<div class="form-group">                                               
													<input type="submit" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <script>
        const select = document.getElementById('tipo_solicitud');
        const options = select.getElementsByTagName('option');
        for (const option of options) {
            option.classList.add('testeo');
        }
    </script>
	</body>
</html>

